a,
h1,
h2,
h3,
div,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 18px;
  background-color: gold;
  color: white;
}
h2 {
  font-size: 20px;
}
body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  background-color: lightgoldenrodyellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
#container {
  border: 1px solid gold;
  background-color: white;
  width: calc(33.333% - 40px);
  margin: 10px;
  padding: 40px;
}
#container-main {
  display: flex;
  flex-wrap: wrap;
}
#nav {
  width: 100%;
  display: flex;
  position: fixed;
  background-color: gold;
  padding: 10px 0;
}
#nav a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}
#nav a:hover {
  text-decoration: underline;
}
#nav-links {
  margin-left: auto;
  display: flex;
}
.More-Info {
  background-color: gold;
  font-size: 20px;
  color: white;
  border: 1px gold solid;
  text-align: center;
  width: 100%;
}
